## Multiple Linear Regression

### Multiple regression is to learn more about the relationship between several independent variables and a dependent variable.

<img src='images/multiple_reg.PNG' />

### importing dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('dataset/50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### Categorical features
- Nominal:no order in values(one hot encoding)

- Ordinal:where we have mathmatical order in a column(label encoding)

In [3]:
data.shape

(50, 5)

In [4]:
data.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [7]:
d=pd.get_dummies(data['State'])

In [8]:
d.head()

   California  Florida  New York
0           0        0         1
1           1        0         0
2           0        1         0
3           0        0         1
4           0        1         0

In [9]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [12]:
#data.iloc[:,:-1].select_dtypes(exclude=['object'])

In [13]:
f=data.iloc[:,:-1].select_dtypes(exclude=['object'])

In [14]:
f.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [20]:
X=pd.concat((f,d),axis=1).values

In [21]:
type(X)

numpy.ndarray

In [22]:
y=data['Profit'].values

### Split dataset

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=10,
                                                 random_state=0)

In [25]:
X_train.shape

(40, 6)

In [26]:
X_test.shape

(10, 6)

In [27]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [28]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
y_pred = reg.predict(X_test)

In [33]:
#y_pred

In [34]:
#y_test

In [32]:
r2_score(y_test,y_pred)

0.9347068473282426